/venv

Trendyol/product_list.py
Trendyol/Trendyol_Jupyter/.ipynb_checkpoints/Trendyol-checkpoint.ipynb
Trendyol/Trendyol_Jupyter/Trendyol.ipynb
Trendyol/unclen_test_frame.csv
Trendyol/test_frame.csv
Trendyol/__pycache__/TrendyolData.cpython-37.pyc
Trendyol/.vscode/settings.json
Trendyol/test/json_scrap.py
Trendyol/test/utility.py
Trendyol/test1/__pycache__/Json_class.cpython-37.pyc
Trendyol/test1/json_scrap.py
Trendyol/test1/utility.py
Trendyol/run.py
Trendyol/TrendyolData.py
Trendyol/Trendyol_data.py
Trendyol/runn.py
